.git
.gitignore
.env
.env.backup.*
.env.*.local
/node_modules
/vendor
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
/tests
/docker
/memory
.DS_Store
Thumbs.db
