/vendor/
/node_modules/
/public/storage
.env
.env.*.local
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
*.log
.phpunit.result.cache
/bootstrap/cache/*
